* {
  box-sizing: border-box;
}
:root {
  --primary: lightgray;
}

table {
  border-spacing: 0;
  position: absolute;
  left: 380px;
}
tr:nth-child(even) {
  background: #ccc;
}
tr:nth-child(odd) {
  background: black;
  color: white;
}
